*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/server/answer
**/.idea/
**/target/
server/.idea/
server/src/main/resources/application.properties
server/src/hibernate.cfg.xml